[submodule "diaphora"]
	path = diaphora
	url = https://github.com/joxeankoret/diaphora.git
[submodule "flare-ida"]
	path = flare-ida
	url = https://github.com/fireeye/flare-ida.git
[submodule "bap-ida-python"]
	path = bap-ida-python
	url = https://github.com/BinaryAnalysisPlatform/bap-ida-python.git
[submodule "mynav"]
	path = mynav
	url = https://github.com/joxeankoret/mynav.git
[submodule "auto_re"]
	path = auto_re
	url = https://github.com/a1ext/auto_re.git
[submodule "funcap"]
	path = funcap
	url = https://github.com/deresz/funcap.git
[submodule "labeless"]
	path = labeless
	url = https://github.com/a1ext/labeless.git
